body{
	margin:0px;
	font-family: sans-serif;
}
body::-webkit-scrollbar { 
    display: none; 
}
/*body Header*/
#body-header{
	height: 65vh;
	background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
	opacity: 0.8;
	background-size:cover;
	background-position:center;
	background-attachment: fixed;

}

/* Horizontal - List */


.horizontal-list {
	list-style: none;
	padding-left:0px;
	margin:0px;
}

.horizontal-list li{
	display: inline-block;
	margin:0px 15px 15px 0px;
	font-weight: 100;
	font-size:0.9rem;
}

.horizontal-list li a{
	color:white;
	font-size:medium;
	text-decoration: none;
}

.nav-menu li a {
	transition: color 0.5s, border-bottom 4s;
}
.nav-menu li a:hover {
	color:lightgrey;
	border-bottom : 1px solid black;
}

.text-center {
	text-align: center;
}


/* name and social Icons */

#name-social-container {
	margin-top:20vh;
}

#my-name{
	font-size:3rem;
	letter-spacing: 0.1rem;
	color:white;
	font-weight:700;
	margin-bottom:0.5rem;
}
#social-icon li a i {
	padding: 10px;
	font-size: 1.5rem;
	border-radius: 50%;
}

#social-icon li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}


/* section part:  */

section {
	width: 100%;
	/* height:75vh; */
	display:flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n){
	background-color: #9e9b9b29;
}

section:nth-child(2n+1){
	background-color: white;
}

.section-heading{
	width:auto;
	padding :20px 10px 10px;
	font-weight:400;
}

.section-heading span{
	font-size: 40px;
	color:#2857a4;
	display: inline-block;
	padding-top:10px;
	margin-right: 0.5rem;
}






/* about section */
#about {
	height:auto;
	min-height: 50vh;
	width:100%;
	/* to show the image over the background image */
	position:relative;
	margin-bottom:30px;
}
#about #my-pic img{
	height: 12rem;
	width:12rem;
	margin: auto;
	/* to bring the image to the center */
	margin-top: -17rem;
}

#my-pic img{
	height: 100%;
	width:100%;
	border-radius:50%;
}
#about p{
	padding:10px;
	padding-top : 50px;
	width:70%;
	height:100%;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	color:grey;
	line-height: 28px;
	font-weight:100;
	font-size:1.1rem;

}


/* skills section */

.skills-display {
	width:75%;
	padding : 10px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly; 
}


.skill-progress {
	width: 11rem;
	height : 2.2rem;
	background-color: lightgrey;
	border-radius: 1rem;
	box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
	margin : 25px;
	overflow: hidden;
}

.skill-progress >div {
	border-radius : 20px 0px 0px 20px;
	box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
	color:white;
	font-size: 1rem;
	margin-left: 10px;
	vertical-align: middle;
}

/* Portfolio seciton */


#portfolio-container {
	box-sizing: border-box;
	display: flex;
	flex-wrap:wrap;
	padding: 0 50px;
	margin-bottom:20px;
	justify-content: space-around;
}
.portfolio-image-container {
	max-width: 300px;
	overflow: hidden;
	margin:10px;
	background-size:cover;
	background-repeat: no-repeat;
	position: relative;
}

.portfolio-image-container img {
	width:100%;
	height:100%;
}

.portfolio-details {
	transition: all 0.5s ease-in-out;
	position: absolute;
	top:0;
	left:0;
	height:100%;
	color:transparent;
	text-align:center;
	padding:10px;
}

.portfolio-image-container :hover {
	box-shadow: 0px 0px 20px #74adc8;
}

.portfolio-image-container:hover .portfolio-details {
	background-color:#80808078;
	color:white;
}

/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}



/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}



/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}
/* CONTACT SECTION */

.contact-heading span{
	color:white;
}
#contact {
	
	background-image: linear-gradient(to top right, #2857a4, #403066);
	background-attachment: fixed;
	padding-bottom: 100px;

}
 
#contact {
	display:flex;
	flex-wrap :wrap;
}


.info-form {
	display: inline-block;
	width:45%;
	height: auto;
	vertical-align: top;
}



.info-form input , button{
	font-size: 20px;
	display: block;
	background: none;
	width:80%;
	padding: 10px 10px 10px 10px ;
	margin: auto;
	margin-bottom : 25px;
	border: hidden;	
	border-bottom: 2px solid white;
}

.info-form button {
	/* background-image: linear-gradient(to top right, blue, purple); */
	overflow:hidden;
	font-size : 90%;
	border : 3px solid white;
	color:white;
	font-weight: 900;
	width: 30%;
}

.info-me {
	display: inline-block;
	line-height: 20px;
	width: 45%;
}
.info-me span{
	line-height: 2rem;
	margin-bottom : 2rem;
}
.color-white {
	color:white;
}

/* media-work of the contact section */


/* ******************************* WORK EXPERIENCE ************************************ */

.timeline{
	position: relative;
	width:75%;
}

.timeline-box{
	padding:5px;
	width:40%;
	min-height: 150px;
	position: relative;
	left:5%;
	text-align:right;
}

.timeline-box::after{
	content: '';
	position: absolute;
	width:15px;
	height: 15px;
	background-color: lightgrey;
	top:25%;
	border-radius: 50%;
	z-index:1;
}

.timeline-box:nth-child(2n) {
	left:53%;
}

.timeline-box:nth-child(2n+1)::after{
	right:-11.8%;
}
.timeline-box:nth-child(2n)::after {
	left:-9%;
}

.timeline-container {
	padding:8px;
}

.timeline-logo{
	position: absolute;
	width: 50px;
	overflow:hidden;
}
.timeline-logo >img {
	width: 100%;
}

#timeline-divider {
	position:absolute;
	width:0;
	top:10%;
	left:50%;
	border:1px dashed #0096fa6b;
	height:66%;
	color:#433e3f;
}

#timeline-divider .timeline-traveller{
	position:sticky;
	top:135px;
	z-index :2;
}

#timeline-divider i{
	transform : rotate(90deg);
	margin-top:-35px;
	display: block;
	color:#2857a4
}
/* media of work experience */


.experience-designation {
	color:#2857a4;
	font-size:1.4rem;
}

.experience-company-name {
	margin:5px 0 0;
	color:#eb833d;
	font-weight: 400;
	font-size:1.2rem;
}

.experience-duration {
	color: #9e9b9b;
	font-weight: 100;
	color:grey;
	font-size: 1rem;
}

.experience-description {
	font-size: 14px;
	padding:2px;
	color:grey;
	line-height:20px;
}

.text-align-justify{
	text-align: justify;
}



/* EDUCATION SECTION */

.education-container {
	position: relative;
	width: 75%;
}

.education-box{
	padding:5px;
	width:40%;
	min-height: 150px;
	position: relative;
	left:5%;
	text-align:right;
	/* border:1px solid black; */
}

.education-box::after{
	content:'';
	width:15px;
	height:15px;
	position:absolute;
	background-color: lightgrey;
	border-radius: 50%;
	top:25%;
	z-index: 2;
}
.education-box:nth-child(2n){
	left:53%;
}
.education-box:nth-child(2n+1)::after{
	right: -11.8%;
}
.education-box:nth-child(2n)::after{
	left:-9%;
}

.education-logo{
	position: absolute;
	width:50px;
	overflow:hidden;
}
.education-box img{
	width: 100%;
}

#education-divider{

	top:25%;
	width:0;
	height:50px;
	border:1px dashed #2857a4

}
#education-divider .education-traveller {
	position:sticky;
	top:135px;
	z-index: 2;
}

#education-divider i{
	z-index: 1;
	transform : rotate(90deg);
	margin-top:-35px;
	display: block;
	color:#2857a4
}

.degree{
	color:#2857a4;
	font-size: 1.4rem;
}

.degree-college-name{
	margin:5px 0 0;
	color:#eb833d;
	font-weight: 400;
	font-size:1.2rem;
}

.degree-duration {
	color: #9e9b9b;
	font-weight: 100;
	color:grey;
	font-size: 1rem;
}

.degree-discription{
	font-size: 14px;
	padding:2px;
	color:grey;
	line-height:20px;
}


@media only screen and (max-width: 572px) {
    
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .bars {
        display: block;
    }
    
    
    .nav-menu {
        display: none;
    } 
}



@media only screen and (max-width: 768px) {


    .timeline-box {
        width: 90%;
        left: 10% !important;
    }

    .timeline-box::after {
        left: -9.3% !important;
    }

    #timeline-divider {
        top: 10%;
        left: 2%;
    }

    #contact-form {
        margin-left: 0%;
    }

    #contact-container {
        flex-wrap: wrap;
    }

    #my-details-container {
        width: 80%;
        margin: 10%;
    }

    #contact-form-container {
        width: 80%;
        margin: 10%;
    }

}

