:root {
    --background-image: rgb(46, 30, 97);
	--music-themes-background-image: linear-gradient(
		90deg,
		#833ab4,
		#fd1d1d,
		#fcb045
	);
}
/* setting the size for the parent element */
html{
    /* font-size:17px; */
}

/* set the border-box style */

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* set margin of body as 0 */

body{
    background: var(--background-image);
    /* background-size:contain; */
	margin: 0px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: white;
}

/* removing margin for all the textual elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
}

.main-container{
    height:100vh;
    background-color: #0C1126;
    overflow-y:auto;
}


/* HEADER SECTION */

.header{
    height:10vh;
    padding:1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width:18%;
}

.logo img{
    width:auto;
    height: 60px;
    border-radius:2.5rem;
    margin-right:0.8rem;
    max-height:6rem;
    max-width:18rem;
}

.fav{
    color:#CECFD3;
    font-size: 0.9rem;
    font-weight:600;
    margin-left:30px;
}

.searchbox-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:55%;
}

.search-box{
    padding:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    background-color:#12183F;
    border-radius: 0.5rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:50%;
    margin-right:4rem;
}

.search-box input{
    font-size: 1.1rem;
    padding:0.6rem;
    padding-left:0.1rem;
    background-color: transparent;
    width:80%;
    height:0.7rem;
    border:0;
    margin-left:0.3rem;
    margin-right:0.3rem;
    color:white;
}

.search-box input:focus{
    outline:none;
}

.search-box i{
    color:white;
}

.profile-photo{
    width:3rem;
    height:3rem;
    border-radius: 1.5rem;
    margin-left:0.8rem;
}

.bell{
    color:#e7e7e6;
    margin-right: 50px;
}
/* the Navigation bar is completed here */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
main {
    width:100%;
    padding : 0% 3%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    transition: all ease-in-out 1s;
}

.aside {
    display:inline-block;
    overflow:hidden;
}

.secion-1 {
    width:70%;
    height:86vh;
    overflow:scroll;
    overflow-x:hidden;
}

/* to hide the scrollbar but scrollable */
.section-1::-webkit-scrollbar {
    display:none;
}

/*some property of section-2 , queue will be defiined early */

.section-2{
    width:28%;
    height:86vh;
}

/* aside section 1 */

.outer-carousel{
    position: relative;
    left:8vw;
    margin-top:5%;
    transition: all ease-in-out 1s;
}
/* carousel */

.carousel {
    position:absolute;
    left:4%;
    width:70%;
    height: auto;
    display:flex;
    flex-direction: row;
    overflow:visible;
    justify-content:space-around;
}

/* the property  of img in carousel */

.carousel img {
    height:15vw;
    width:22.5vw;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

.carousel img:nth-child(1) {
	position: relative;
	left: 41vw;
	z-index: 2;
}
/* image which is in the maddle of the carousel */
.carousel img:nth-child(2) {
	z-index: 3;
}
/* third image in the carousel */
/* if you see it direction wise, then it is the first image in the carousel */
.carousel img:nth-child(3) {
	position: relative;
	right: 41vw;
	z-index: 1;
}

.carousel img:hover {
	z-index: 4;
	box-shadow: 0px 0px 12px 0.1px black;
	height: 18vw;
	width: 27vw;
}


/* latest release section */
.latest-release {
	position: relative;
	top: 20vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
/* container of the latest release part should be of type flex */
.latest-release-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* all the components of the latest release part */
.latest-release-content > div {
	/*  border:1px solid white; */
	height: 100px;
	width: 47%;
	margin: 5px 0px;
}
/* card is the general class for the components of the latest release part */
.card {
	display: flex;
	flex-direction: row;
	transition: box-shadow ease-in-out 0.1s;
}
/* hovering effects for the latest release part components */
.card:hover {
	box-shadow: 0px 0px 2px 1px white;
}
/* images in the cards of the latest release section */
.card img {
	width: 100px;
	height: 100px;
	z-index: 1;
}
/* this is the play button which will be visible only on hover */
.play-button {
	width: 100%;
	height: 65%;
	position: relative;
	top: -105%;
	color: rgba(255, 255, 255, 0);
	/* note that its opacity will be 0 normally */
	background-color: rgba(0, 0, 0, 0);
	font-size: 0px;
	padding-top: 15%;
	text-align: center;
	z-index: 5;
	transition: all ease-in-out 0.1s;
}
/* actual play icon from font awesome */
.play-button i {
	padding-top: 45%;
}
/* hovering effect for the play button */
.play-button:hover {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}
/* description of the song in the card, which will contain the song nae and author */
.song-description {
	margin: auto 10%;
}
/* options is the class for the 3 dots which needs to be clicked to trigger the latest release drop down menu */
.options {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	text-align: right;
	margin-left: auto;
	margin-right: 2%;
	margin-top: 2%;
}
/* this is for the latest release drop down menu */
.latest-release-dropdown {
	position: absolute;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	opacity: 0;
	width: 0px;
	height: 0px;
	top: 20px;
	right: 0px;
	overflow: hidden;
	z-index: 2;
	border: 1px solid black;
	box-shadow: 0px 0px 2px 1px black;
	transition: all ease-in-out 0.3s;
}
/* icon in the latest release drop down */
.fa-ellipsis-h {
	cursor: pointer;
}
/* this input is for the latest release drop down */
input[type="checkbox"] {
	display: none;
}
/* checking it, will trigger the latest release dropdown */
input[type="checkbox"]:checked ~ .latest-release-dropdown {
	width: max-content;
	height: auto;
	opacity: 1;
	padding: 5px;
}
/* options in the lastest release drop down */
.drop-item p {
	text-align: center;
}
/* popular artists */
.popular-artists {
	position: relative;
	width: 100%;
	height: auto;
	top: 26vw;
	box-sizing: border-box;
}

/* /////////////////////////////////////////////////////////////////// */
/* popular artist */


/* container of the popular artists */
.popular-artist-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* images in the popular artists section */
.popular-artists div a img {
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
}
/* content of the container in popular artists section */
.popular-artists > div {
	/* position: relative; */
	margin: 5px;
	text-align: center;
}
/* I generally use the combination of 3 properties, i.e. display:flex, justify content and align items to position an element */
/* at the center of the screen. this is my favourite way. there are other options too, but I prefer this one because */
/* it also takes care of the flexibility of the contents of the div */
.popular-artist-content > a > div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.popular-artist-content > a > div > div {
	position: absolute;
	display: flex;
	/* top: 0px;
    left: 0px; */
	top: 0px;
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	opacity: 0;
	transition: opacity ease-in-out 0.1s;
}
/* additional icons in this section */
.popular-artist-content a div div i {
	margin: auto;
	font-size: 3vw;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
} /* added hovering effects */
.popular-artist-content a div div:hover {
	opacity: 0.5;
}
.popular-artist-content a div div:hover i {
	opacity: 1;
}
/* text portion in popular artists section */
.popular-artists div p {
	text-align: center;
}



/* language wise */
/* language sections */
.language {
	position: relative;
	top: 31vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	margin: 3vw 0px;
}
/* language content container */
.language-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	padding: 0px 2px;
}
/* image in language content */
.language-content div img {
	width: 10vw;
	min-width: 60px;
	height: 10vw;
	min-height: 60px;
	transition: box-shadow ease-in-out 0.1s;
}
/* hovering effects on language content items */
.language-content div img:hover {
	box-shadow: 0px 0px 10px 1px white;
}
/* items in language content */
.language-content div {
	margin: 2vw 0px;
	width: 10.2vw;
	min-width: 60px;
}
/* properties for release date and name of the song */
.language-content div p:nth-child(2n) {
	width: 100%;
	word-wrap: break-word;
}
.language-content div p:nth-child(2n + 1) {
	font-size: 12px;
	font-weight: lighter;
}