/* setting the size for the parent element */
html{
    font-size:7px;
}

/* set the border-box style */

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* set margin of body as 0 */

body{
    margin:0;
}

.main-container{
    height:100vh;
    background-color: #0C1126;
    overflow-y:auto;
}


/* HEADER SECTION */

.header{
    height:10vh;
    padding:1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width:18%;
}

.logo img{
    width:auto;
    height: 60px;
    border-radius:2.5rem;
    margin-right:0.8rem;
    max-height:6rem;
    max-width:18rem;
}

.fav{
    color:#CECFD3;
    font-size: 0.9rem;
    font-weight:600;
    margin-left:30px;
}

.searchbox-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:55%;
}

.search-box{
    padding:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    background-color:#12183F;
    border-radius: 0.5rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:50%;
    margin-right:4rem;
}

.search-box input{
    font-size: 1.1rem;
    padding:0.6rem;
    padding-left:0.1rem;
    background-color: transparent;
    width:80%;
    height:0.7rem;
    border:0;
    margin-left:0.3rem;
    margin-right:0.3rem;
    color:white;
}

.search-box input:focus{
    outline:none;
}

.search-box i{
    color:white;
}

.profile-photo{
    width:3rem;
    height:3rem;
    border-radius: 1.5rem;
    margin-left:0.8rem;
}

.bell{
    color:#e7e7e6;
    margin-right: 50px;
}
/* Content */
main {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    overflow-y: auto;
    padding:1.5rem;
    padding-top:1rem;
    padding-bottom:0rem;
}

.nav-link a{
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    font-size:13px;
    color:#fff;
    display:block;
    transition:0.3s;
}
.nav-link .active{
    color:#1dd65f;
}
.nav-text{
    padding:18px;
}
.nav-link button{
    background:none;
    border:0px;
    padding:0px;
    font-size: 17px;
    line-height:1;
    outline:none;
}
.nav-link button:hover{
    cursor: pointer;
}

.nav-link button:focus{
    color:#1dd65f;
    -webkit-animation : nextarrow 1s infinite;
    -moz-animation : nextarrow 1s infinite;
    -o-animation : nextarrow 1s infinite;
    animation : nextarrow 1s infinite;
}

.nav-link:hover a span{
    padding-left:30px;
    transition : all 0.5s ease;
    color:#1dd65f;
}

.nav-link:hover i{
    color:#1dd65f;
    -webkit-animation: nextarrow 1s infinite;
    -moz-animation: nextarrow 1s infinite;
    -o-animation: nextarrow 1s infinite;
    animation: nextarrow 1s infinite;
}

@keyframes nextarrow{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.5,1.5);
    }
    100%{
        transform:scale(1,1);
    }
}
/* carousel */

.carousel{
    margin:0 auto;
    margin-top:20px;
    position:relative;
    width:70%;
    height:0;
    padding-bottom:40%;
    background:#12183F;
    border:solid 10px #0C1126;
}

.slide-img{
    position: absolute;
    width:100%;
    height:100%;
}

.slide-img img{
    width:100%;
    height: 100%;
    transition: transform 0s;
}

#s1 ,#s2, #s3, #s4, #s5{
    display:none;
}

.prev, .next {
    width:12%;
    height:100%;
    position:absolute;
    top:0;
    background:rgb(0,0,0,.2);
    z-index: 99;
    cursor: pointer;
}

.prev{
    left:0;

}
.next{
    right: 0;
}


.navi{
    width: 100%;
    height:11px;
    bottom:12%;
    position:absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top:-5px;
    width:10px;
    height:100%;
    margin:0 4px;
    position: relative;
    border-radius: 50%;
    display:inline-block;
    background:rgba(0,0,0,.4);
}

.slide-img{
    z-index:-1;
}

#s1:checked ~ #one,
#s2:checked ~ #two,
#s3:checked ~ #three,
#s4:checked ~ #four,
#s5:checked ~ #five{
    z-index: 99;
}

.slide-img img:hover{
    transform: scale(1.9);
}

.white{
    color:white;
}

/* queue section */
